<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Biblioteca Virtual</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
  <h1>Biblioteca Virtual</h1>
  <nav>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de</a>

    {% if current_user.is_authenticated %}
      <a href="/libros">Ver Datos</a>
      <a href="/datos">Archivos</a>
      <span>Hola, {{ current_user.nombre }}</span>
      <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('registro') }}">Registro</a>
    {% endif %}
  </nav>
</header>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container">
      <div class="card">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endwith %}

<div class="container">
  <div class="card">
    {% block content %}
    {% endblock %}
  </div>
</div>

</body>
</html>